* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

h1 {
    margin-top: 50px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    border: 5px solid black;
    border-radius: 20%;
    width: 200px;
    height: 200px;
    margin: 1rem;


}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.gameFlash{
    background-color: white;
}

.userFlash{
    background-color: brown;
}